html{background-color: black;}
h1{
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 50px;
}

div{
    margin-left: 25%;
    margin-right: 30%;
}

.hack{
    border: 5px solid darkblue;
    width: 100%;
}
.find{
    font-size:5px;
    color: red;
}
